# Ignore ISO files
*.iso
*.raw*
*.qcow2
*.patch
iso/

# Ignore Vagrant files
.vagrant/

# Ignore environment file
.env
talos-cluster/

# Ignore sudo cache files
.sudo_cache*

# Ignore Qwen Code settings
.qwen/

.dnsmasq

.idea
